@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Cairo', sans-serif;
}

.container-fluid {
    width: 95% !important;
}
.fifa-span{
    font-weight: bolder;
    font-size: 19px;
}
/*Start Home page*/
.home-page {
    background-color: #FFFFFF;
}

/* ---start section navbar---*/
 .navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
}

.navbar .container-fluid {
    display: flex;
    align-items: center;
}

.navbar .logo {
    width: 80px;
    margin-right: 8%;
}

.navbar .logo img {
    width: 100%;
    padding-top: 6px;
}

 .navbar .login a {
    color: #707070;
    text-decoration: none;
}

.navbar .login a:first-child {
    margin-left: 10px;
}

 .navbar .login a:last-child {
    border-right: 2px solid #707070;
    padding-right: 12px;
}

/* ---end section navbar---*/

/* ---start section competitions---*/
 .competitions {
    padding: 15px;
    min-height: 70px;
    display: flex;
    align-items: center;
}

 .competitions .text {
    width: 100%;
}

 .competitions .text a {
    display: block;
    text-align: center;
    color: #707070;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/* ---end section competitions---*/
/* ---start section tickets-bar---*/
.home-page .tickets-bar {
    padding: 8px 0;
    background-color: #1277D9;
}

.home-page .tickets-bar .main-content {
    color: white;
    padding: 10px 0;
}

.home-page .tickets-bar .main-content .ticket {
    background-color: #0263BC;
    padding: 10px 20px;
    padding-left: 50px;
    border-radius: 50px;
    margin-left: 20px;
    font-size: 14px;
}

.home-page .tickets-bar .main-content .ticket span {
    font-weight: bolder;
    font-size: 18px;
    padding: 0 5px;
}

.home-page .tickets-bar .main-content .text {
    font-size: 14px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.home-page .tickets-bar .main-content .text span {
    margin: 0 8px;
}

/* ---end section tickets-bar---*/

/* ---start section header---*/
 .header {
    height: 75vh;
    width: 100%;
    background-image: url("../image/crop-legs-kicking-ball-smoke.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

 .header .text {
    position: absolute;
    bottom: 15%;
    color: white;

}

 .header .text h4 {
    margin-bottom: 20px;
    position: relative;
}

.header .text h4 span {
    position: absolute;
    top: -20px;
    left: 22%;
    font-size: 16px;
}

.header .text a {
    background-color: #0263BC;
    color: white;
    text-decoration: none;
    padding: 8px 40px;
    border-radius: 30px;
    display: inline-block;
    font-size: 15px;
}

/* ---end section header---*/

/* ---start section matches card---*/
.home-page .matches-card{
    position: relative;
    padding-top: 50px;
}

.home-page .matches-card .all-match{
    margin: 90px 0;
    margin-right: 20px;
}
.home-page .matches-card .right-card{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.home-page .matches-card .right-card h4{
    line-height: 1.8em;
}
.home-page .matches-card .right-card a{
    text-decoration: none;
}
.home-page .matches-card .card-match:first-child{
    margin: 0;
}
.home-page .matches-card .card-match{
    margin-top: 80px ;
}
.home-page .matches-card .card-match .image img{
width: 100%;
    border-radius: 10px;
}
.home-page .matches-card .card-match .description span{
    margin: 9px 0 3px 0;
    display: inline-block;
}
.home-page .matches-card .card-match .description h6{
    font-weight: bolder;
    font-size: 17px;
}
.home-page .matches-card .more-matches{
    margin-top: 60px;
}
.home-page .matches-card .more-matches .details-match{
    display: flex;
}
.home-page .matches-card .more-matches .details-match img{
    height: 110px;
}
.home-page .matches-card .more-matches .details-match .text{
    margin-right: 15px;
}
.home-page .matches-card .more-matches .details-match .text p{
    font-size: 15px;
}
/* ---end section matches card---*/
/* ---start section congress---*/
.home-page .congress{
    background-image: url("../image/Rectangle 38.png");
    height: 450px;
    position: relative;
}
.home-page .congress .image-overly-1{
    position: absolute;
    right: 0;
    top: 15%;
    width: 60%;
}
.home-page .congress .image-overly-1 img{
    width: 100%;
}
.home-page .congress .image-overly-2{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.home-page .congress .image-overly-2 img{
    width: 100%;
}
.home-page .congress .image-overly-3{
    position: absolute;
    right: 15%;
    top: 10%;
    width: 4%;
}
.home-page .congress .image-overly-3 img{
    width: 100%;
}
.home-page .congress .text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
}
.home-page .congress .text a{
    text-decoration: none;
    background-color: white;
    padding: 10px;
    color: black;
    border-radius: 30px;
    display: inline-block;
}

/* ---end section congress---*/

/* ---start section partners---*/
 .partners{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.partners h4{
    text-align: center;
    margin-bottom: 50px;
}
.partners .container{
    width: 60%;
}
.partners .partner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.partners img{
    display: inline-block;
    width: 120px;
}
/* ---end section partners---*/

/* ---start section social-media---*/
.social-media{
    padding: 50px 0;
}
.social-media .logo {
    position: relative;
}
.social-media .logo .R{
    position: absolute;
    border: 2px solid #093697;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    right: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-media .logo .R img{
    width: 12px;
    height: 12px;
}
.social-media  .links-navbar{
    display: flex;
    margin-top: 30px;
}
.social-media  .links-navbar .link:first-child{
    margin-left: 40px;
}
.social-media .social{
    display: flex;
    margin-top: 50px;
}
.social-media .social .link-social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #091B3F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

.social-media .social .link-social i{
    color: white;
}


/* ---end section social-media---*/

/* ---start section footer---*/
.footer{
    padding: 30px;
}
.footer .content-footer{
    display: flex;
    justify-content: space-between;
}
.footer .content-footer .link a{
    text-decoration: none;
    margin-left: 40px;
    margin-bottom: 20px;
    display: inline-block;
    color: #000F2C;
}
.footer .language{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.footer .language i{
    position: absolute;
    left: 10%;
    top:30%;
    font-size: 18px;
}
.footer .language select{
    width: 120px;
}
/* ---end section footer---*/

/*End Home page*/

/*start encounters page*/

/*---start section language---*/
.encounters-page .language-article{
    padding-top: 30px ;
}
.encounters-page .language-article .container{
    position: relative;
    width: 80%;
}
.encounters-page .language-article  i{
    position: absolute;
    left:3%;
    top: 32%;
    font-size: 20px;
}
.encounters-page .language-article select{
    direction: ltr;
    padding-left: 60px;
}
/*---end section language---*/

/*---start section article---*/
.all-article {
    line-height: 2em;
}
.all-article .container{
    width: 80%;
}
.all-article .article{
    margin-top: 50px;
}
.all-article .article small{
    margin-bottom: 20px;
    display: inline-block;
}
.all-article .article .points-article{
    line-height: 2.8em;
    padding-right: 30px;
}
.all-article .article .points-article li{
    padding-right: 30px;
}
.all-article .article .points-article li::marker{
    color: #0088E7 !important;
    font-size: 20px;
}

.all-article .article .description {
    padding-right: 30px;
}
.all-article .article .description .image{
    width: 100%;
    display: flex;
    justify-content: center;
    margin:60px 0 10px 0;
}
.all-article .article .description img{
    width: 85%;
}
.points-article {
}
/*---end section article---*/


/*end encounters page*/


/*start congress page*/

/*---start header congress---*/

.congress-page .header-congress{
    height: 115vh;
    color: black;
    background-color: #843597;
    position: relative;
}
.congress-page .header-congress  .slider-congress {
    padding:80px 80px;
}
.congress-page .header-congress  .slider-congress  .slider{
    margin-left: 50px;
    position: relative;

}
.congress-page .header-congress  .slider-congress  .slider  img{
    height: 65vh;
}
.congress-page .header-congress  .slider-congress  .slider h4{
    color: white;
    margin-bottom: 20px;
}
.congress-page .header-congress  .slider-congress  .slider h2{
    color: white;
    margin-bottom: 20px;
}
.congress-page .header-congress  .slider-congress  .slider .text-img{
    position: absolute;
    z-index: 20;
    bottom: 8%;
    right: 8%;
}
.congress-page .header-congress  .slider-congress  .slider .text-img .icon-video {
    color: white;
    width: 70px;
    height: 70px;
    background-color: #0a58ca;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.congress-page .header-congress  .slider-congress  .slider .text {
    color: white;
    margin-top: 20px;
}
@media only screen and (max-width: 700px) {
    .congress-page .header-congress{
        height: 60vh;
        background-color: #843597;
        position: relative;
    }
    .congress-page .header-congress  .slider-congress {
        padding:60px 0px;
    }
    .congress-page .header-congress  .slider-congress  .slider{
        margin-left: 20px;
        position: relative;
    }
    .congress-page .header-congress  .slider-congress  .slider  img{
        height: 33vh;
    }
    .congress-page .header-congress  .slider-congress  .slider h4{
        color: white;
        margin-bottom: 20px;
        font-size: 17px;
    }
    .congress-page .header-congress  .slider-congress  .slider h2{
        color: white;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .congress-page .header-congress  .slider-congress  .slider .text-img{
        position: absolute;
        z-index: 20;
        bottom: 8%;
        right: 8%;
    }
    .congress-page .header-congress  .slider-congress  .slider .text-img .icon-video {
        color: white;
        width: 50px;
        height: 50px;
        background-color: #0a58ca;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }
}
.congress-page .slick-arrow{
    position: absolute !important;
    top:95% !important;
    border: 1px solid white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.congress-page .slick-next{
    position: absolute;
    right: 10% !important;

}
.congress-page .slick-prev {
    right: 5% !important;

}
/*---end header congress---*/

/*---start matches card congress---*/
.congress-page .card-congress{
    background-color: #EEEEE4;
    padding: 90px 0;
}
.congress-page .card-congress .all-match{
}
.congress-page .card-congress .all-match .right-card{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.congress-page .card-congress .all-match .right-card h4{
    line-height: 1.8em;
}
.congress-page .card-congress .all-match .right-card a{
    text-decoration: none;
}
.congress-page .card-congress .all-match .card-match:first-child{
    margin: 0;
}

.congress-page .card-congress .all-match .card-match .col-md{
    margin:15px 5px ;
    background-color: white;
    padding: 0;

}
.congress-page .card-congress .all-match .card-match .image img{
    width: 100%;
}
.congress-page .card-congress .all-match .card-match .description{
    padding: 10px 20px 40px 20px;
}
.congress-page .card-congress .all-match .card-match .description span{
    margin: 9px 0 3px 0;
    display: inline-block;
}
.congress-page .card-congress .all-match .card-match .description h6{
    font-weight: bolder;
    font-size: 17px;
}
/*---end matches card congress---*/

/*---start documents congress---*/
.congress-page  .documents{
    min-height: 70vh;
    background-color: #843597;
    padding:60px 0;
}
.congress-page  .documents h5,
.congress-page  .documents h2{
    color: white;
}
.congress-page .all-document{
    margin-top: 50px;
}
.congress-page .all-document .docm{
    background-color: white;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}
.congress-page .all-document .docm .image{
    width: 100%;
}
.congress-page .all-document .docm .image img{
    width: 100%;
}
.congress-page .all-document .docm  .description{
    padding: 20px;
}
.congress-page .all-document .docm  .description h4{
    margin-top: 20px;
}
.congress-page .all-document .docm  .description a{
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
}
/*---end documents congress---*/

/*end congress page*/

/*start Login page*/
.page-login{
    padding: 35px 0;
}
.page-login .main-content{
    border: 1px solid rgba(0,0,0,0.1);
    padding: 20px;
    box-shadow: 0px 3px 12px -1px rgba(0,0,0,0.1);
}
.page-login .image{
    width: 100%;
    height: 550px;
}
.page-login .image img{
    height: 100%;
    width: 100%;
}
.page-login .form-login a{
    display: block;
    text-decoration: none;
    margin: 20px 0;
}
.page-login .form-login button{
    background-color: #326295;
    border-radius: 0;
}
.page-login .form-login  .logo-form{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}
.page-login .form-login   .text{
    margin-bottom: 20px;
}
@media only screen and (max-width: 800px) {
    .page-login .section-image{
      display: none;
    }
}
/*end Login page*/


/*start clubs page*/
/*---start section tickets ---*/
.clubs-page .tickets{
    height: 90vh;
    background-image: url("../image/Repeat Grid 8.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.clubs-page .tickets .text{
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
}
.clubs-page .tickets .text .content-text{
    right: 47%;
    top: 60%;
    transform: translate(-47% , -40%);
    position: absolute;
}
.clubs-page .tickets .text button{
    padding: 10px 10px 10px 20px;
    background-color: #1277D9;
    color: white;
    border-radius: 20px;
    margin-top: 15px;
    border: none;
}
@media only screen and (max-width: 800px) {
    .clubs-page .tickets{
        height: 30vh;
    }

    .clubs-page .tickets .text .content-text{
        right: 35%;
    }
    .clubs-page .tickets .text h4{
        font-size: 16px;
    }
    .clubs-page .tickets .text h6{
        font-size: 14px;
    }

}

/*---end section tickets---*/

/*---start section hospitality---*/
.clubs-page .hospitality{
    height: 90vh;
    background-image: url("../image/Repeat Grid 5.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}
.clubs-page .hospitality:before{
 content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.2);
}
.clubs-page .hospitality .text{
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
}
.clubs-page .hospitality .text .content-text{
    right: 47%;
    top: 60%;
    transform: translate(-47% , -40%);
    position: absolute;
}
.clubs-page .hospitality .text button{
    padding: 10px 10px 10px 20px;
    background-color: #1277D9;
    color: white;
    border-radius: 20px;
    margin-top: 15px;
    border: none;
}
@media only screen and (max-width: 800px) {
    .clubs-page .hospitality{
        height: 30vh;
    }

    .clubs-page .hospitality .text .content-text{
        right: 35%;
    }
    .clubs-page .hospitality .text h4{
        font-size: 16px;
    }
    .clubs-page .hospitality .text h6{
        font-size: 14px;
    }

}

/*---end section hospitality---*/

/*end clubs page*/


